.container{
    width: 100%;
}

.content{
    background-color: #0f0f0f;
    background-color:  var(--secondary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentForm{
    max-width: 1024px;
    width: 100%;
    padding: 0 18px;
    padding-bottom: 28px;
    margin-top: 58px;
}

.title{
    color: #fff;
    margin-bottom: 8px;
}

.checkboxArea label{
    margin-left: 8px;
    color: #fff;
}
.checkboxArea{
    margin: 14px 0;
}

.checkbox{
    width: 18px;
    height: 18px;
}
.button{
    width: 100%;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #3183ff;
    padding: 12px 0;
    font-size: 18px;
    transition: all 0.2s ease-in-out;

    &&:hover{
        opacity: 0.8;
    }

}

.taskContainer{
    margin: 34px auto 0 auto;
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.taskContainer a{
    text-decoration: none;
    color: #0f0f0f;
}

.taskContainer h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
}

.task{
    margin-bottom: 14px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1.5px solid #909090;
    border-radius: 4px;
    padding: 14px;
    background-color: #f4f4f4;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.date{
   align-self: flex-end;
   color: #909090;
   font-size: small;
   margin: 0;
   padding: 0;
}

.tagContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}
.tagContainer div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tag{
    background-color: #3183ff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
}

.shareButton{
    background: transparent;
    border: 0;
    margin: 0 8px;
    cursor: pointer;

    &&:hover{
        opacity: 0.6;
    }
}

.taskContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.taskContent p{
    white-space: pre-wrap; /*respeitar e aceitar quebras linhas*/
}

.trashButton{
    cursor: pointer;
    background: transparent;
    border: 0;
    margin: 0 8px;
}
